BOOTSTRAP_ADMIN_EMAIL=admin@secure.local
BOOTSTRAP_ADMIN_PASSWORD=ChangeMeNow123!
BOOTSTRAP_ADMIN_TOTP_SECRET=JBSWY3DPEHPK3PXP
BOOTSTRAP_ADMIN_NAME=Bootstrap Admin
BOOTSTRAP_ADMIN_CITIZENSHIP=US
BOOTSTRAP_ADMIN_KYC_LEVEL=2
